beautifulsoup4>=4.14.3
binance_connector>=3.12.0
ipydatagrid>=1.4.0
ipython>=8.30.0
ipywidgets>=8.1.5
matplotlib>=3.10.8
nest_asyncio>=1.6.0
numpy>=2.4.1
pandas>=3.0.0
plotly>=5.24.1
Requests>=2.32.5
scipy>=1.17.0
seaborn>=0.13.2
statsmodels>=0.14.4
yfinance>=0.2.66
